<p>dashboard works!|</p>
{{salary| currency :"INR"}}
<div class="contaner-fluid">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Empoyee management System</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        
      </nav>
    <div >
        <form [formGroup]="empDetails">
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Name </label>
              <input type="text" formControllName="name" class="form-control" id="name" aria-describedby="nameHelp">
             
            </div>

            <div class="mb-3">      
                <label for="exampleInputEmail1" class="form-label">Email </label>
                <input type="email" formControllName="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
               
              </div>
              <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Salary </label>
                <input type="text" formControllName="salary" class="form-control" id="salary" aria-describedby="salaryHelp">
               
              </div>
            <!-- <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label">Password</label>
              <input type="password" class="form-control" id="exampleInputPassword1">
            </div>
            <div class="mb-3 form-check">
              <input type="checkbox" class="form-check-input" id="exampleCheck1">
              <label class="form-check-label" for="exampleCheck1">Check me out</label>
            </div> -->
            <div >
                <!-- <button type="button" class="btn btn-secondary" >Close</button> -->
                <button type="button" class="btn btn-primary" (click)="addEmployee()">Add Employee</button>
            </div>
        </form>
    </div>




  
  <!-- Table -->
  
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">First</th>
        <th scope="col">Last</th>
        <th scope="col">Handle</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Jacob</td>
        <td>Thornton</td>
        <td>@fat</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td colspan="2">Larry the Bird</td>
        <td>@twitter</td>
      </tr>
    </tbody>
  </table>

</div>

